/* <!-- noam amgar 207128505 --> 
<!-- noa cohen 315475715 -->
<!-- livnat lisha 31397626 -->  */

#advertise{
    height: 50%;
    /* border: solid 5px yellow; */
    width: 100%;
    padding-top: 5px;
    overflow: auto;
}

#sale{
    float: left;
    width:100%; 
    display: inline-block;
    /* border: solid 5px blue; */
    height: 100%;  
}

#picSale{
    /* border: solid 5px purple; */
    float: left;
    width:80%;
    height: 100%
}

#coupon{
    padding-top: 8%;
    float: left;
    background-color: rgb(36, 32, 32);
    width: 20%;
    height: 100%;
    text-align: center;
    color: palevioletred;
    font-size: large;
    /* border: solid 5px red; */
}

#about{
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: larger;
}

@media  screen and (max-width: 600px)
 {
    #sale, #coupon, #picSale
    {
        display: block;
        width: 100%;
        /* padding-top: 5%; */    
    }   
     #coupon{
        color: palevioletred; 
    }
} 

@media  screen and (max-width: 870px)
 {
    #coupon{
        height: 100%;
        color: palevioletred; 
        padding-top: 4%;  
    }
    #advertise{
        height: 30%;    
    }
 }





